.parallax {
  perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__group {
    /*transform: translate3d(700px, 0, -600px) rotateY(30deg);*/
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-300px) scale(2);
  background: url("bg.jpg") no-repeat center top;
  background-size: 100%;
  width: 100vw;
  min-height: 1132 !important;
  min-width: 850 !important;
  transform-origin: 50% 0;
  top: -290;
  left: -10;
  padding-bottom: 50%;
  overflow-y: hidden;
}
#page-wrap {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255,255,255,0.5);
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
    overflow-y: hidden;
}
html {
  margin: 0;
}
h1 {
  color: rgba(0,0,0,.8);
  font-size: 40px;
  text-align: center;
  font-family:
   medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}
h2 {

  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  letter-spacing: -.02em;
  font-weight: 300;
  font-style: normal;
  font-size: 27px;
  text-align: center;
  margin-left: -1.69px;
  line-height: 1.22;
  letter-spacing: -.018em;
    color: rgba(0,0,0,.44);
}
p {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: italic;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,.8);
  font-size: 21px;
  line-height: 1.4;
}
body {
  background-color: rgb(228,228,218);
  margin: 0;
}
/** {
 border: 1px solid red;
}*/
